<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAX_7cmHjBeuXqNYuXBoJ5kJCg3vd4m_FE</string>
	<key>GCM_SENDER_ID</key>
	<string>37230199249</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ErenKupeli.InstagramCloneFirebase</string>
	<key>PROJECT_ID</key>
	<string>instaclone-b3ae7</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclone-b3ae7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:37230199249:ios:e8b24d8760d8313eb020f0</string>
</dict>
</plist>